<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/Docs.css">
    <title>Documentation</title>
</head>
<body>
    <nav>
        <a href="/index.html">Home</a>
        <a href="products.html">Products</a>
        <a href="html/About.html">About</a>
        <a href="#contact">contact</a>
        <a href="#">Docs</a>
    </nav>

    <a href="login.html">Sign-in</a>
    <a href="signup.html">Sign-up</a>
    <a href="profile.html">Profile</a>

    <div id="contact">

    </div>


    <script src="/js/main.js"></script>
</body>
</html>