{% extends "../layouts/base.html" %}
{% load static %}




{% block content %}
    <nav>
        <div>
            <img src={% static "img/logoBlack.png" %} class="logo" alt="logo">
        </div>
        <div class="nav-links" id="nav-links">
            <a href={% url "home" %}>Home</a>
            <a href={% url "products" %}>Products</a>
            <a href={% url "about" %}>About</a>
            <a href="#contact">Contact</a>
            <a href={% url "docs" %}>Docs</a>
         {% if user.is_authenticated %}
            <a href={% url "logout" %}>LogOut</a>
         {% else %}
            <a href={% url 'login' %}>LogIn</a>
         {% endif %}
        </div>
        <div class="user-salute">
            {% if user.is_authenticated %}
                <p>
                  Hi {{ user.username }}!
                </p> 
            {% else %}
                <p>You are not logged in</p>
            {% endif %}
        </div>
        <div class="hamburger-menu">
            <div class="ham-bar bar-top"></div>
            <div class="ham-bar bar-mid"></div>
            <div class="ham-bar bar-bottom"></div>
        </div>
        <div class="navbar-user">
        {% if user.is_authenticated %}
           <p>
                Hi {{ user.username }}!
           </p> 
        {% else %}
            <p>You are not logged in</p>
        {% endif %}
        </div>
    </nav>


    <!-- product display -->
    <section class="product">
        <h3 class="head-word">Available Products</h3>
        <div class="product-container">
            {% if user.is_authenticated %}
                {% for product in products %}
                    <div class="card" id="beats">
                        <img src='{{product.image_url}}' alt="product picture">
                        <div class="text">
                            <h3>{{product.product_name}}</h3>
                            <p>{{product.description}}</p>
                        </div>
                        <div class="btn_holder">
                            <a href={% url "productDetail" product.id user.id %} class="btn">
                                view details
                        </a> 
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for product in products%}  
                    <div class="card">
                        <img src='{{product.image_url}}' alt="product picture">
                        <div class="text">
                            <h3>{{product.product_name}}</h3>
                            <p>{{product.description}}</p>
                        </div>
                        <div class="btn_holder">
                        <a href={% url "login" %} class="btn">
                                Log in or sign up to view details
                        </a> 
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
       
    </section>

   <script src={% static 'js/index.js' %}></script>
{% endblock %}





{% block styles %}
    <link rel="stylesheet" href={% static "css/products.css" %}>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/255033cb2c.js" crossorigin="anonymous"></script>
    <title>Products</title>
{% endblock %}